@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d9ec93;
}
